.btn-go-home {
  position: relative;
  z-index: 200;
  margin: 80px auto;
  width: 100px;
  padding: 10px 15px;
  border: 1px solid goldenrod;
  border-radius: 100px;
  font-weight: 400;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 11px;
}

.btn-go-home:hover {
  background-color: #ffcb39;
  color: #fff;
}

#error h1 {
  font-size: 70px;
}

#error {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
