#display-queue > * {
  margin: 2rem 0;
}

#add-to-queue-form {
  display: flex;
  margin-left: 50%;
  margin-top: 15%;
}

#add-to-queue-btn {
  margin-left: 0.3rem;
}

#resolution-search-form {
  display: flex;
}

#search-resolution-client {
  margin-left: 0.3rem;
  background-color: rgba(25, 135, 84, 1);
  color: white;
}

#search-resolution-client:hover {
  background-color: rgba(25, 135, 84, 0.6);
}

#client-resolution-found {
  resize: none;
}
